.App {
  text-align: center;
}

.form-container {
  margin: 100px auto;
  width: 1000px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  border-radius: 10px;
  height: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.btn-primary{
  color:#fff;
  background-color: #007bff;
  border-color: #007bff;
}

.App-link {
  color: #61dafb;
}

.my-custom-scrollbar {
  position: relative;
  height: 200px;
  overflow: auto;
  }